<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
    <style>
        body {
            font-size: 14px;
            font-family: 'Oswald', 'Sans serif'
        }
        * {
            margin: 0;
            padding: 0;
        }
        .page {
            display: -webkit-flex;
            display: -moz-flex;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <div class="page">
        <h1>Webpack for front-end. (Default Template)</h1>
    </div>
    <script src="./assets/js/lib/jquery.min.js"></script>
    <script src="assets/dist/app.bundle.js"></script>
</body>

</html>