// font-weight variables
$thin    : 100;
$x-light : 200;
$light   : 300;
$regular : 400;
$medium  : 500;
$sm-bold : 600;
$bold    : 700;
$x-bold  : 800;
$black   : 900;

$poppins: 'Poppins', sans-serif;
$title-font: 'Cinzel', serif;
$count-font: 'Oswald', sans-serif;

$holland: 'Holland';

// color
$main: #000;
$dark: #2b2b2b;
$main-text: #76839e;

$gr-1: #d7ada7;
$gr-2: #f6d4ce;

$slow: 1000ms;
$normal: 500ms;
$fast: 300ms;